<script src="https://kit.fontawesome.com/6f662430f5.js" crossorigin="anonymous"></script>

{% extends 'base.html' %}

{% block content %}
<h1>{% block title %}xpire {% endblock %}</h1>
<div class="buttonCon">
  <a href="/" class="linkButton">go back to list</a>
  </div>
<body>
  <div class="center">
    <p class="overall">{{ myfunction() }}</p>
  </div>

<form method="post">
  <button type="submit" name = "sendMessage" class="sendbutton"><i class='fas fa-sms'></i></button>
</form>

</body> 
{% endblock %}