{% extends 'base.html' %}


{% block content %}
<h1>{% block title %}xpire {% endblock %}</h1>
<a href="/" class="linkButton">go to list</a>

<body>

<body>
	<div class="col-md-4">
   <form method="post">
	<h4>Which product would you like to remove?</h4>
	<select class="dropMenu" name="dropSelection">
      <option class="defaultDrop" value="" selected disabled hidden>select here</option>
      {% for prod in myproducts %}
      <option>{{prod}}</option>
      {% endfor %}
  </select>
  <br><br>
  <button type="submit" name = "removeSubmit" class="submit">submit</button>
  </form>
  
</body> 
{% endblock %}