{% extends 'base.html' %}


{% block content %}
<h1>{% block title %}xpire {% endblock %}</h1>

<div class="buttonCon">
  <a href="/" class="linkButton">go back to list</a>
  </div>

<form method="post">
        <h4>Settings</h4>
        <label for="numDays">How many days prior to the expiry date do you want to be alert of?</label>
        <br>
        <input type="number" name="numDays" min="1"
               value="{{ request.form['numDays'] }}"></input>
        <br><br>
        <label for="numPhone">Mobile Number</label>
        <br>
        <input type="tel" name="numPhone" value="{{ request.form['numPhone'] }} " pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
      <br>
        <button type="submit" name = "submit" class="submit">submit</button>
    </form>
{% endblock %}